body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 2px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("../img//mountains.jpg");
  min-height: 700px; }
  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 2px solid #ddd; }

#author img {
  margin-top: -50px; }
#author .card:hover {
  background: #3292a6;
  color: white; }
  #author .card:hover .fab {
    color: white; }

@media (max-width: 768px) {
  #showcase {
    min-height: 600px; }
    #showcase h1 {
      font-size: 3rem; } }
